<h1 class="text-center">New Collaborator</h1>

<div class="well">
    <form #formPessoa="ngForm">
      
      <!--Name-->
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" class="form-control" minlength="2" [(ngModel)]="user.name" #name="ngModel" required>
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
            <div [hidden]="!name.errors?.['required']">Digite o nome da pessoa. </div>
            <div [hidden]="!name.errors?.['minlength']">The name must contain at least 2 characters.</div>
          </div>
      </div>

      <!--Email-->
      <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text" name="email" id="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" required>
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors?.['required']">Enter the employee's e-mail address.</div>
          </div>
      </div>
        
      <!--Roles-->
      <div class="form-group">
          <label for="role">Roles:</label>
          <input type="text" name="role" id="role" class="form-control" [(ngModel)]="user.role" #role="ngModel" required>
          <div *ngIf="role.errors && (role.dirty || role.touched)" class="alert alert-danger">
              <div [hidden]="!role.errors?.['required']">Enter the employee's role.</div>
          </div>
      </div> 

      <!--Status-->
      <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" name="status" id="status" class="form-control" [(ngModel)]="user.status" #status="ngModel" required>
          <div *ngIf="status.errors && (status.dirty || status.touched)" class="alert alert-danger">
              <div [hidden]="!status.errors?.['required']">Enter the employee status.</div>
          </div>
      </div> 

      <!--Created-->
      <div class="form-group">
          <label for="stauts">Created at:</label>
          <input type="text" name="createdAt" id="createdAt" class="form-control" [(ngModel)]="user.createdAt" #createdAt="ngModel" required>
          <div *ngIf="createdAt.errors && (createdAt.dirty || createdAt.touched)" class="alert alert-danger">
              <div [hidden]="!createdAt.errors?.['required']">Enter when it was created.</div>
          </div>
      </div>      
    
      <!--Updated-->
      <div class="form-group">
          <label for="stauts">Updated at:</label>
          <input type="text" name="updatedAt" id="updatedAt" class="form-control" [(ngModel)]="user.updatedAt" #updatedAt="ngModel" required>
          <div *ngIf="updatedAt.errors && (updatedAt.dirty || updatedAt.touched)" class="alert alert-danger">
              <div [hidden]="!updatedAt.errors?.['required']">Enter when it was updated.</div>
          </div>
      </div>      

      <!--Delivery made-->
      <div class="form-group">
          <label for="stauts">Delivery made:</label>
          <input type="text" name="deliveryMade" id="deliveryMade" class="form-control" [(ngModel)]="user.deliveryMade" #deliveryMade="ngModel" required>
          <div *ngIf="deliveryMade.errors && (deliveryMade.dirty || deliveryMade.touched)" class="alert alert-danger">
              <div [hidden]="!deliveryMade.errors?.['required']">Enter when it was delivered.</div>
          </div>
      </div>      
    
      <!--Deliveries in progress-->
      <div class="form-group">
          <label for="stauts">Delivery made:</label>
          <input type="text" name="deliveriesInProgress" id="deliveriesInProgress" class="form-control" [(ngModel)]="user.deliveriesInProgress" #deliveriesInProgress="ngModel" required>
          <div *ngIf="deliveriesInProgress.errors && (deliveriesInProgress.dirty || deliveriesInProgress.touched)" class="alert alert-danger">
              <div [hidden]="!deliveriesInProgress.errors?.['required']">Enter how many deliveries are in progress..</div>
          </div>
      </div>

        <!--Botão Salvar com Voltar-->
      <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="salvarInserir()" [disabled]="!formPessoa.form.valid"> 
            <i class="fa fa-save" aria-hidden="true"></i> Register
          </button>


          <!--Voltar
        <a class="nav-link text-white" href="#" routerLink="/pessoas">Lista de Colaboradores</a>-->
          <a class="btn btn-secondary" routerLink="/pessoas">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
          </a>
      </div>
    </form>
  </div>