
    <div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" ara-label="Fechar" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title text-center" id="modalLabel">Collaborator</h5>
</div>

<div class="modal-body text-center">
  <div>
    <p>Id: {{user.id}}</p>
    <p>Name: {{user.name}} </p>
    <p>E-mail: {{user.email}} </p>
    <p>Roles: {{user.role}} </p>
    <p>Status: {{user.status}} </p>
    <p>Created at: {{user.createdAt}} </p>
    <p>Updated at: {{user.updatedAt}} </p>
    <p>Delivery made: {{user.deliveryMade}} </p>
    <p>Deliveries in progress: {{user.deliveriesInProgress}} </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
</div>
